Создайте таблицу, где по строкам располагаются названия штатов, по столбцам - каждый из 12 месяцев 2020 года,
а в ячейках таблицы хранится суммарное количество смертей в данном штате в этот месяц. 
Если информация за какой-то месяц отсутствует, укажите в этой ячейке значение 0.

In [28]:
import pandas as pd

In [29]:
usa_table = pd.read_csv("data/us-counties.csv", sep = ",", parse_dates=["date"])
usa_table

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
2089614 2022-01-06  Sweetwater     Wyoming  56037.0   8471   110.0
2089615 2022-01-06       Teton     Wyoming  56039.0   6836    14.0
2089616 2022-01-06       Uinta     Wyoming  56041.0   4245    34.0
2089617 2022-01-06    Washakie     Wyoming  56043.0   1908    39.0
2089618 2022-01-06      Weston     Wyoming  56045.0   1261    16.0

[2089619 rows x 6 columns]

In [30]:
usa_table.dtypes

date      datetime64[ns]
county            object
state             object
fips             float64
cases              int64
deaths           float64
dtype: object

In [31]:
dates = usa_table["date"]
dates

0         2020-01-21
1         2020-01-22
2         2020-01-23
3         2020-01-24
4         2020-01-24
             ...
2089614   2022-01-06
2089615   2022-01-06
2089616   2022-01-06
2089617   2022-01-06
2089618   2022-01-06
Name: date, Length: 2089619, dtype: datetime64[ns]

In [32]:
usa_2020 = usa_table[(dates >= "2020-01-01") & (dates <= "2020-12-31")]
usa_2020

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1     0.0
1      2020-01-22   Snohomish  Washington  53061.0      1     0.0
2      2020-01-23   Snohomish  Washington  53061.0      1     0.0
3      2020-01-24        Cook    Illinois  17031.0      1     0.0
4      2020-01-24   Snohomish  Washington  53061.0      1     0.0
...           ...         ...         ...      ...    ...     ...
884732 2020-12-31  Sweetwater     Wyoming  56037.0   2966    16.0
884733 2020-12-31       Teton     Wyoming  56039.0   2138     4.0
884734 2020-12-31       Uinta     Wyoming  56041.0   1558     7.0
884735 2020-12-31    Washakie     Wyoming  56043.0    780    19.0
884736 2020-12-31      Weston     Wyoming  56045.0    476     2.0

[884737 rows x 6 columns]

In [33]:
#2 вариант решения
usa_2020_test = usa_table[dates.dt.year == 2020]
usa_2020_test

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1     0.0
1      2020-01-22   Snohomish  Washington  53061.0      1     0.0
2      2020-01-23   Snohomish  Washington  53061.0      1     0.0
3      2020-01-24        Cook    Illinois  17031.0      1     0.0
4      2020-01-24   Snohomish  Washington  53061.0      1     0.0
...           ...         ...         ...      ...    ...     ...
884732 2020-12-31  Sweetwater     Wyoming  56037.0   2966    16.0
884733 2020-12-31       Teton     Wyoming  56039.0   2138     4.0
884734 2020-12-31       Uinta     Wyoming  56041.0   1558     7.0
884735 2020-12-31    Washakie     Wyoming  56043.0    780    19.0
884736 2020-12-31      Weston     Wyoming  56045.0    476     2.0

[884737 rows x 6 columns]

In [34]:
states = [x for x in pd.unique(usa_2020["state"])]
states

['Washington',
 'Illinois',
 'California',
 'Arizona',
 'Massachusetts',
 'Wisconsin',
 'Texas',
 'Nebraska',
 'Utah',
 'Oregon',
 'Florida',
 'New York',
 'Rhode Island',
 'Georgia',
 'New Hampshire',
 'North Carolina',
 'New Jersey',
 'Colorado',
 'Maryland',
 'Nevada',
 'Tennessee',
 'Hawaii',
 'Indiana',
 'Kentucky',
 'Minnesota',
 'Oklahoma',
 'Pennsylvania',
 'South Carolina',
 'District of Columbia',
 'Kansas',
 'Missouri',
 'Vermont',
 'Virginia',
 'Connecticut',
 'Iowa',
 'Louisiana',
 'Ohio',
 'Michigan',
 'South Dakota',
 'Arkansas',
 'Delaware',
 'Mississippi',
 'New Mexico',
 'North Dakota',
 'Wyoming',
 'Alaska',
 'Maine',
 'Alabama',
 'Idaho',
 'Montana',
 'Puerto Rico',
 'Virgin Islands',
 'Guam',
 'West Virginia',
 'Northern Mariana Islands']

In [35]:
month = [x for x in pd.unique(usa_2020["date"].dt.month)]
month

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [36]:
df = pd.DataFrame(columns = month)
df

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Index: []

In [37]:
for x in states:
    month_grouped_states = usa_2020[usa_2020["state"] == x]["deaths"].groupby(usa_2020["date"].dt.month).sum()
    print(month_grouped_states)
    #loc обращается к индексу элемента (если не нашел,то создаст новый)
    df.loc[x] = month_grouped_states
df = df.fillna(0)

date
1         0.0
2         1.0
3      2377.0
4     16938.0
5     30824.0
6     36893.0
7     46101.0
8     57397.0
9     63369.0
10    72562.0
11    80071.0
12    98238.0
Name: deaths, dtype: float64
date
1          0.0
2          0.0
3        450.0
4      32642.0
5     125228.0
6     195076.0
7     230706.0
8     247518.0
9     258320.0
10    293112.0
11    341008.0
12    487330.0
Name: deaths, dtype: float64
date
1          0.0
2          0.0
3       1113.0
4      30176.0
5      99379.0
6     155690.0
7     232621.0
8     349458.0
9     438311.0
10    522654.0
11    551791.0
12    683920.0
Name: deaths, dtype: float64
date
1          0.0
2          0.0
3        118.0
4       4870.0
5      19864.0
6      37510.0
7      79906.0
8     138063.0
9     161423.0
10    179976.0
11    189527.0
12    237564.0
Name: deaths, dtype: float64
date
2          0.0
3        340.0
4      42952.0
5     170827.0
6     228975.0
7     259483.0
8     273880.0
9     277353.0
10    300917.0
11    310467.0
12    357261.0
Name: deaths, dtype: float64
date
2          0.0
3        135.0
4       5402.0
5      13922.0
6      21236.0
7      26417.0
8      32504.0
9      36898.0
10     50372.0
11     84560.0
12    139531.0
Name: deaths, dtype: float64
date
2          0.0
3        270.0
4      12274.0
5      40047.0
6      62054.0
7     126673.0
8     320762.0
9     440263.0
10    539095.0
11    607190.0
12    779112.0
Name: deaths, dtype: float64
date
2         0.0
3        13.0
4       866.0
5      3841.0
6      6926.0
7      9469.0
8     11402.0
9     13519.0
10    17393.0
11    25072.0
12    44491.0
Name: deaths, dtype: float64
date
2         0.0
3        20.0
4       722.0
5      2472.0
6      4277.0
7      7305.0
8     11327.0
9     13068.0
10    16605.0
11    21949.0
12    33745.0
Name: deaths, dtype: float64
date
2         0.0
3       129.0
4      1829.0
5      4161.0
6      5420.0
7      7946.0
8     12220.0
9     15457.0
10    19245.0
11    23590.0
12    38399.0
Name: deaths, dtype: float64
date
3        489.0
4      19495.0
5      59664.0
6      89605.0
7     149112.0
8     287667.0
9     385716.0
10    486884.0
11    528358.0
12    625248.0
Name: deaths, dtype: float64
date
3        7943.0
4      425198.0
5      854088.0
6      918476.0
7      995461.0
8     1005469.0
9      979548.0
10    1021540.0
11    1007246.0
12    1105629.0
Name: deaths, dtype: float64
date
3        17.0
4      3459.0
5     15471.0
6     25484.0
7     30536.0
8     31771.0
9     32422.0
10    35738.0
11    38173.0
12    48953.0
Name: deaths, dtype: float64
date
3        699.0
4      18051.0
5      48939.0
6      73197.0
7      96401.0
8     142202.0
9     188261.0
10    228370.0
11    260484.0
12    307373.0
Name: deaths, dtype: float64
date
3        17.0
4      1009.0
5      5085.0
6      9573.0
7     12246.0
8     13146.0
9     13080.0
10    14313.0
11    15030.0
12    19497.0
Name: deaths, dtype: float64
date
3         32.0
4       4804.0
5      20390.0
6      34879.0
7      50375.0
8      73585.0
9      94769.0
10    122389.0
11    145747.0
12    187486.0
Name: deaths, dtype: float64
date
3       1165.0
4     102708.0
5     308935.0
6     388821.0
7     482461.0
8     492942.0
9     481278.0
10    502729.0
11    498695.0
12    557416.0
Name: deaths, dtype: float64
date
3        344.0
4      11715.0
5      35594.0
6      48035.0
7      54290.0
8      58799.0
9      60271.0
10     67610.0
11     79208.0
12    127004.0
Name: deaths, dtype: float64
date
3         84.0
4      13760.0
5      59244.0
6      88044.0
7     103834.0
8     112721.0
9     115669.0
10    125065.0
11    130307.0
12    163321.0
Name: deaths, dtype: float64
date
3       123.0
4      4029.0
5     10678.0
6     14008.0
7     19854.0
8     33381.0
9     44410.0
10    52598.0
11    58319.0
12    81970.0
Name: deaths, dtype: float64
date
3         59.0
4       3741.0
5       8850.0
6      14450.0
7      24839.0
8      42831.0
9      62682.0
10     88765.0
11    117769.0
12    176044.0
Name: deaths, dtype: float64
date
3        1.0
4      274.0
5      525.0
6      514.0
7      673.0
8     1257.0
9     3146.0
10    5681.0
11    6751.0
12    8405.0
Name: deaths, dtype: float64
date
3        313.0
4      16218.0
5      52744.0
6      73069.0
7      86855.0
8      97177.0
9     103916.0
10    121734.0
11    150003.0
12    218744.0
Name: deaths, dtype: float64
date
3        84.0
4      3889.0
5     10848.0
6     15726.0
7     20877.0
8     26308.0
9     33249.0
10    42363.0
11    53507.0
12    78888.0
Name: deaths, dtype: float64
date
3         47.0
4       3818.0
5      21878.0
6      39472.0
7      48459.0
8      54441.0
9      59400.0
10     70493.0
11     90661.0
12    142668.0
Name: deaths, dtype: float64
date
3       101.0
4      3692.0
5      8877.0
6     10849.0
7     13870.0
8     20766.0
9     27571.0
10    36040.0
11    46241.0
12    65753.0
Name: deaths, dtype: float64
date
3        268.0
4      30595.0
5     134069.0
6     188226.0
7     217270.0
8     233003.0
9     239575.0
10    264555.0
11    286087.0
12    408981.0
Name: deaths, dtype: float64
date
3        127.0
4       3284.0
5      11736.0
6      18424.0
7      35108.0
8      70086.0
9      92881.0
10    112970.0
11    124600.0
12    149492.0
Name: deaths, dtype: float64
date
3        41.0
4      2651.0
5     11296.0
6     15437.0
7     17731.0
8     18495.0
9     18516.0
10    19785.0
11    19873.0
12    22570.0
Name: deaths, dtype: float64
date
3        60.0
4      2241.0
5      5676.0
6      7457.0
7      9654.0
8     12644.0
9     16808.0
10    26397.0
11    38850.0
12    67842.0
Name: deaths, dtype: float64
date
3         96.0
4       5056.0
5      17904.0
6      27450.0
7      35764.0
8      45188.0
9      56366.0
10     80448.0
11    105756.0
12    156027.0
Name: deaths, dtype: float64
date
3       93.0
4      958.0
5     1651.0
6     1663.0
7     1738.0
8     1793.0
9     1740.0
10    1798.0
11    1831.0
12    3169.0
Name: deaths, dtype: float64
date
3        109.0
4       7019.0
5      30685.0
6      47056.0
7      61641.0
8      74189.0
9      86483.0
10    106447.0
11    115120.0
12    140241.0
Name: deaths, dtype: float64
date
3        283.0
4      29752.0
5     101014.0
6     125398.0
7     135762.0
8     138000.0
9     134566.0
10    141104.0
11    143360.0
12    170624.0
Name: deaths, dtype: float64
date
3         26.0
4       1947.0
5      10769.0
6      19631.0
7      24212.0
8      30669.0
9      37216.0
10     47525.0
11     61570.0
12    102151.0
Name: deaths, dtype: float64
date
3       1137.0
4      32872.0
5      75798.0
6      91082.0
7     109304.0
8     139101.0
9     157941.0
10    177422.0
11    184804.0
12    215113.0
Name: deaths, dtype: float64
date
3        219.0
4      12517.0
5      49709.0
6      77119.0
7      97128.0
8     118706.0
9     134914.0
10    157317.0
11    174314.0
12    240430.0
Name: deaths, dtype: float64
date
3        967.0
4      59519.0
5     148969.0
6     179464.0
7     196370.0
8     204451.0
9     207890.0
10    227720.0
11    255026.0
12    357241.0
Name: deaths, dtype: float64
date
3        22.0
4       211.0
5      1278.0
6      2282.0
7      3471.0
8      4707.0
9      5746.0
10     9767.0
11    19937.0
12    39407.0
Name: deaths, dtype: float64
date
3        36.0
4      1007.0
5      3137.0
6      5895.0
7     10829.0
8     19077.0
9     32549.0
10    51328.0
11    66765.0
12    95245.0
Name: deaths, dtype: float64
date
3        31.0
4      1840.0
5      8381.0
6     13062.0
7     16554.0
8     18439.0
9     18572.0
10    20617.0
11    22110.0
12    26058.0
Name: deaths, dtype: float64
date
3         88.0
4       3972.0
5      15804.0
6      27336.0
7      40931.0
8      64526.0
9      82125.0
10     97849.0
11    107108.0
12    132830.0
Name: deaths, dtype: float64
date
3        16.0
4      1472.0
5      7739.0
6     13155.0
7     17513.0
8     22130.0
9     24979.0
10    28959.0
11    37834.0
12    63226.0
Name: deaths, dtype: float64
date
3         9.0
4       296.0
5      1330.0
6      2366.0
7      2956.0
8      3967.0
9      5601.0
10    11976.0
11    22471.0
12    36093.0
Name: deaths, dtype: float64
date
3         0.0
4        82.0
5       300.0
6       555.0
7       710.0
8       991.0
9      1375.0
10     1926.0
11     4563.0
12    10232.0
Name: deaths, dtype: float64
date
3        8.0
4      173.0
5      243.0
6      291.0
7      496.0
8      843.0
9     1265.0
10    1890.0
11    2802.0
12    5136.0
Name: deaths, dtype: float64
date
3       13.0
4      843.0
5     2180.0
6     3010.0
7     3546.0
8     3951.0
9     4108.0
10    4474.0
11    5020.0
12    8509.0
Name: deaths, dtype: float64

date
3         42.0
4       4044.0
5      14438.0
6      23697.0
7      38436.0
8      58883.0
9      71419.0
10     85064.0
11     98538.0
12    131827.0
Name: deaths, dtype: float64
date
3        34.0
4      1098.0
5      2266.0
6      2628.0
7      3800.0
8      8590.0
9     12732.0
10    16628.0
11    23545.0
12    37822.0
Name: deaths, dtype: float64
date
3        12.0
4       280.0
5       502.0
6       581.0
7      1109.0
8      2566.0
9      4277.0
10     7685.0
11    15949.0
12    25905.0
Name: deaths, dtype: float64
date
3        35.0
4      1450.0
5      3633.0
6      4380.0
7      5485.0
8     10262.0
9     16703.0
10    23298.0
11    28581.0
12    40689.0
Name: deaths, dtype: float64
date
3       0.0
4      57.0
5     165.0
6     180.0
7     199.0
8     319.0
9     548.0
10    637.0
11    685.0
12    713.0
Name: deaths, dtype: float64
date
3       11.0
4      156.0
5      186.0
6      180.0
7      186.0
8      222.0
9      873.0
10    2009.0
11    2929.0
12    3672.0
Name: deaths, dtype: float64
date
3         3.0
4       515.0
5      1951.0
6      2613.0
7      3101.0
8      4966.0
9      8578.0
10    12325.0
11    17759.0
12    32316.0
Name: deaths, dtype: float64
date
3      0.0
4     54.0
5     62.0
6     60.0
7     62.0
8     62.0
9     60.0
10    62.0
11    60.0
12    62.0
Name: deaths, dtype: float64

In [38]:
df

,1,2,3,4,5,6,7,8,9,10,11,12
Washington,0.0,1.0,2377.0,16938.0,30824.0,36893.0,46101.0,57397.0,63369.0,72562.0,80071.0,98238.0
Illinois,0.0,0.0,450.0,32642.0,125228.0,195076.0,230706.0,247518.0,258320.0,293112.0,341008.0,487330.0
California,0.0,0.0,1113.0,30176.0,99379.0,155690.0,232621.0,349458.0,438311.0,522654.0,551791.0,683920.0
Arizona,0.0,0.0,118.0,4870.0,19864.0,37510.0,79906.0,138063.0,161423.0,179976.0,189527.0,237564.0
Massachusetts,0.0,0.0,340.0,42952.0,170827.0,228975.0,259483.0,273880.0,277353.0,300917.0,310467.0,357261.0
Wisconsin,0.0,0.0,135.0,5402.0,13922.0,21236.0,26417.0,32504.0,36898.0,50372.0,84560.0,139531.0
Texas,0.0,0.0,270.0,12274.0,40047.0,62054.0,126673.0,320762.0,440263.0,539095.0,607190.0,779112.0
Nebraska,0.0,0.0,13.0,866.0,3841.0,6926.0,9469.0,11402.0,13519.0,17393.0,25072.0,44491.0
Utah,0.0,0.0,20.0,722.0,2472.0,4277.0,7305.0,11327.0,13068.0,16605.0,21949.0,33745.0
Oregon,0.0,0.0,129.0,1829.0,4161.0,5420.0,7946.0,12220.0,15457.0,19245.0,23590.0,38399.0
Florida,0.0,0.0,489.0,19495.0,59664.0,89605.0,149112.0,287667.0,385716.0,486884.0,528358.0,625248.0
New York,0.0,0.0,7943.0,425198.0,854088.0,918476.0,995461.0,1005469.0,979548.0,1021540.0,1007246.0,1105629.0
Rhode Island,0.0,0.0,17.0,3459.0,15471.0,25484.0,30536.0,31771.0,32422.0,35738.0,38173.0,48953.0
Georgia,0.0,0.0,699.0,18051.0,48939.0,73197.0,96401.0,142202.0,188261.0,228370.0,260484.0,307373.0
New Hampshire,0.0,0.0,17.0,1009.0,5085.0,9573.0,12246.0,13146.0,13080.0,14313.0,15030.0,19497.0
North Carolina,0.0,0.0,32.0,4804.0,20390.0,34879.0,50375.0,73585.0,94769.0,122389.0,145747.0,187486.0
New Jersey,0.0,0.0,1165.0,102708.0,308935.0,388821.0,482461.0,492942.0,481278.0,502729.0,498695.0,557416.0
Colorado,0.0,0.0,344.0,11715.0,35594.0,48035.0,54290.0,58799.0,60271.0,67610.0,79208.0,127004.0
Maryland,0.0,0.0,84.0,13760.0,59244.0,88044.0,103834.0,112721.0,115669.0,125065.0,130307.0,163321.0
Nevada,0.0,0.0,123.0,4029.0,10678.0,14008.0,19854.0,33381.0,44410.0,52598.0,58319.0,81970.0
Tennessee,0.0,0.0,59.0,3741.0,8850.0,14450.0,24839.0,42831.0,62682.0,88765.0,117769.0,176044.0
Hawaii,0.0,0.0,1.0,274.0,525.0,514.0,673.0,1257.0,3146.0,5681.0,6751.0,8405.0
Indiana,0.0,0.0,313.0,16218.0,52744.0,73069.0,86855.0,97177.0,103916.0,121734.0,150003.0,218744.0
Kentucky,0.0,0.0,84.0,3889.0,10848.0,15726.0,20877.0,26308.0,33249.0,42363.0,53507.0,78888.0
Minnesota,0.0,0.0,47.0,3818.0,21878.0,39472.0,48459.0,54441.0,59400.0,70493.0,90661.0,142668.0
Oklahoma,0.0,0.0,101.0,3692.0,8877.0,10849.0,13870.0,20766.0,27571.0,36040.0,46241.0,65753.0
Pennsylvania,0.0,0.0,268.0,30595.0,134069.0,188226.0,217270.0,233003.0,239575.0,264555.0,286087.0,408981.0
South Carolina,0.0,0.0,127.0,3284.0,11736.0,18424.0,35108.0,70086.0,92881.0,112970.0,124600.0,149492.0
District of Columbia,0.0,0.0,41.0,2651.0,11296.0,15437.0,17731.0,18495.0,18516.0,19785.0,19873.0,22570.0
Kansas,0.0,0.0,60.0,2241.0,5676.0,7457.0,9654.0,12644.0,16808.0,26397.0,38850.0,67842.0
Missouri,0.0,0.0,96.0,5056.0,17904.0,27450.0,35764.0,45188.0,56366.0,80448.0,105756.0,156027.0
Vermont,0.0,0.0,93.0,958.0,1651.0,1663.0,1738.0,1793.0,1740.0,1798.0,1831.0,3169.0
Virginia,0.0,0.0,109.0,7019.0,30685.0,47056.0,61641.0,74189.0,86483.0,106447.0,115120.0,140241.0
Connecticut,0.0,0.0,283.0,29752.0,101014.0,125398.0,135762.0,138000.0,134566.0,141104.0,143360.0,170624.0
Iowa,0.0,0.0,26.0,1947.0,10769.0,19631.0,24212.0,30669.0,37216.0,47525.0,61570.0,102151.0
Louisiana,0.0,0.0,1137.0,32872.0,75798.0,91082.0,109304.0,139101.0,157941.0,177422.0,184804.0,215113.0
Ohio,0.0,0.0,219.0,12517.0,49709.0,77119.0,97128.0,118706.0,134914.0,157317.0,174314.0,240430.0
Michigan,0.0,0.0,967.0,59519.0,148969.0,179464.0,196370.0,204451.0,207890.0,227720.0,255026.0,357241.0
South Dakota,0.0,0.0,22.0,211.0,1278.0,2282.0,3471.0,4707.0,5746.0,9767.0,19937.0,39407.0
Arkansas,0.0,0.0,36.0,1007.0,3137.0,5895.0,10829.0,19077.0,32549.0,51328.0,66765.0,95245.0
Delaware,0.0,0.0,31.0,1840.0,8381.0,13062.0,16554.0,18439.0,18572.0,20617.0,22110.0,26058.0
Mississippi,0.0,0.0,88.0,3972.0,15804.0,27336.0,40931.0,64526.0,82125.0,97849.0,107108.0,132830.0
New Mexico,0.0,0.0,16.0,1472.0,7739.0,13155.0,17513.0,22130.0,24979.0,28959.0,37834.0,63226.0
North Dakota,0.0,0.0,9.0,296.0,1330.0,2366.0,2956.0,3967.0,5601.0,11976.0,22471.0,36093.0
Wyoming,0.0,0.0,0.0,82.0,300.0,555.0,710.0,991.0,1375.0,1926.0,4563.0,10232.0
Alaska,0.0,0.0,8.0,173.0,243.0,291.0,496.0,843.0,1265.0,1890.0,2802.0,5136.0
Maine,0.0,0.0,13.0,843.0,2180.0,3010.0,3546.0,3951.0,4108.0,4474.0,5020.0,8509.0
Alabama,0.0,0.0,42.0,4044.0,14438.0,23697.0,38436.0,58883.0,71419.0,85064.0,98538.0,131827.0
Idaho,0.0,0.0,34.0,1098.0,2266.0,2628.0,3800.0,8590.0,12732.0,16628.0,23545.0,37822.0
Montana,0.0,0.0,12.0,280.0,502.0,581.0,1109.0,2566.0,4277.0,7685.0,15949.0,25905.0
Puerto Rico,0.0,0.0,35.0,1450.0,3633.0,4380.0,5485.0,10262.0,16703.0,23298.0,28581.0,40689.0
Virgin Islands,0.0,0.0,0.0,57.0,165.0,180.0,199.0,319.0,548.0,637.0,685.0,713.0
Guam,0.0,0.0,11.0,156.0,186.0,180.0,186.0,222.0,873.0,2009.0,2929.0,3672.0
West Virginia,0.0,0.0,3.0,515.0,1951.0,2613.0,3101.0,4966.0,8578.0,12325.0,17759.0,32316.0
Northern Mariana Islands,0.0,0.0,0.0,54.0,62.0,60.0,62.0,62.0,60.0,62.0,60.0,62.0

In [39]:
#df.loc["Washington",3]