2 задание

In [131]:
from bs4 import BeautifulSoup

In [132]:
f = open('data/датасеты_к_заданию_2/addres-book-q.xml').read()

In [133]:
soup = BeautifulSoup(f, "xml")

In [134]:
from collections import defaultdict
ans = defaultdict(list)
for address in soup.find_all('address'):
    man = dict()
    man['name'] = address.contents[3].string
    man['company'] = address.company.string
    man['phones'] = [child.string for child in address.phones.contents if child != '\n']
    ans[address.position.string].append(man)

In [135]:
ans

defaultdict(list,
            {'Presidente': [{'name': 'Aicha Barki',
               'company': "Association Algerienne d'Alphabetisation Iqraa",
               'phones': ['+ (213) 6150 4015', '+ (213) 2173 5247']}],
             'Directeur General': [{'name': 'Francisco Domingos',
               'company': 'Institut National de Education des Adultes',
               'phones': ['+ (244-2) 325 023', '+ (244-2) 325 023']}],
             'Directrice Nationale': [{'name': 'Maria Luisa',
               'company': 'Institut National de Education des Adultes',
               'phones': ['+ (244) 4232 2836']}],
             'Chef': [{'name': 'Abraao Chanda',
               'company': 'Institut National de Education des Adultes',
               'phones': ['+ (244-2) 325 023', '+ (244-2) 325 023']}],
             'Executive Director': [{'name': 'Beatriz Busaniche',
               'company': 'Universidad de Buenos Aires',
               'phones': ['+ (54-11) 4784 1159']},
              {'name': 'Francesca Beddie',
               'company': 'Adult Learning Australia',
               'phones': ['+ (61-2) 6274 9500', '+ (61-2) 6274 9513']}],
             'Secretary': [{'name': 'Graham John Smith',
               'company': 'Disability Australia Ltd',
               'phones': ['+ (61-3) 9807 4702']}]})

3 задание

In [136]:
import dask.dataframe as dd

In [137]:
df = dd.read_csv('data/датасеты_к_заданию_3/data/accounts.*.csv', )

In [138]:
df

Dask DataFrame Structure:
                  id   names amount
npartitions=6
               int64  object  int64
                 ...     ...    ...
...              ...     ...    ...
                 ...     ...    ...
                 ...     ...    ...
Dask Name: read-csv, 6 tasks

In [139]:
df = df[df['amount'] > 0]

In [140]:
df

Dask DataFrame Structure:
                  id   names amount
npartitions=6
               int64  object  int64
                 ...     ...    ...
...              ...     ...    ...
                 ...     ...    ...
                 ...     ...    ...
Dask Name: getitem, 24 tasks

In [141]:
answer = df.groupby('id', sort=False).sum().idxmax()

сумма вычислялась только для столбца amount, потому что по id данные группируются, а names строковый

In [142]:
answer

Dask Series Structure:
npartitions=1
amount    int64
amount      ...
dtype: int64
Dask Name: dataframe-idxmax-agg, 33 tasks

In [143]:
answer.compute()

amount    165
dtype: int64

Получили id максимальной суммы по группе, chunks были созданы автоматически, так как у нас несколько файлов (вычсиления будут выполняться параллельно), визуализировать не могу из-за ПО на университетском компьютере