задание 2 (датасет sp500hst.txt)

In [55]:
import pandas as pd
import datetime

path = './датасеты_к_заданию_2/sp500hst.txt'
data = pd.read_csv(path, sep=',', header=None)
dates = list(set(data[0]))
tiker = list(set(data[1]))
data

               0    1      2        3       4      5      6
0       20090821    A  25.60  25.6100  25.220  25.55  34758
1       20090824    A  25.64  25.7400  25.330  25.50  22247
2       20090825    A  25.50  25.7000  25.225  25.34  30891
3       20090826    A  25.32  25.6425  25.145  25.48  33334
4       20090827    A  25.50  25.5700  25.230  25.54  70176
...          ...  ...    ...      ...     ...    ...    ...
122569  20100813  ZMH  51.72  51.9000  51.380  51.44  14561
122570  20100816  ZMH  51.13  51.4700  50.600  51.00  13489
122571  20100817  ZMH  51.14  51.6000  50.890  51.21  20498
122572  20100819  ZMH  51.63  51.6300  50.170  50.22  18259
122573  20100820  ZMH  50.03  50.5500  49.480  49.82  17792

[122574 rows x 7 columns]

In [97]:
res = pd.DataFrame(index=dates, columns=tiker)

for i in data[1]:
    for j in res:
        if i == j:
            res[j]=data[6]

In [83]:
# res

In [133]:
import csv
with open('some.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(res)

задание 3 (датасет random.hdf5)

In [103]:
import h5py

# data3 = h5py.File('./датасеты_к_заданию_3/random.hdf5', 'r')
path = './датасеты_к_заданию_3/random.hdf5'
keys = []

with h5py.File(path, 'r') as f:
    for key in f.keys():
        keys.append(key)
        
keys

['data_set_1']

In [111]:
file = h5py.File('./датасеты_к_заданию_3/random.hdf5', 'r')
list(file.keys())

['data_set_1']

In [117]:
import h5py
f = h5py.File(path, 'r')
d = f['data_set_1']
d.shape

(1000, 100000)

In [119]:
import dask.array as da
import dask

x = da.from_array(d, chunks=(1000, 1000))

In [135]:
data3 = x.compute()

In [126]:
mean_ = x.mean()
mean_.compute()

8.160148942789198e-05

In [ ]:
result = []
res_p = []
max_2 = 0
for i in data3:
    for j in i:
        if j > mean_:
            result.append(j)
    if len(result)>max_2:
        res_p = result

In [ ]:
@dask.delayed
def task3_2(data):
    result = []
    res_p = []
    max_2 = 0
    for i in data:
        for j in i:
            if j > mean_:
                result.append(j)
        if len(result)>max_2:
            res_p = result
    return res_p

In [ ]:
import dask
res3_2 = dask.delayed(task3_2)(data3)
res3_2

In [ ]:
res_p

In [ ]:
# count = 0
# # 100_000
# max_ = -1000000

# for i in data3:
#     for j in i:
#         if j > mean_:
#             count += 1
#     if count > max_:
#         max_ = count
        
# # print(max_)

In [138]:
@dask.delayed
def task3(data):
    count=0
    max_=-1000000
    for i in data:
        for j in i:
            if j > mean_:
                count += 1
        if count > max_:
            max_ = count
            
    return max_

In [145]:
import dask
res3 = dask.delayed(task3)(data3)
res3

Delayed('task3-2d35e6eb-162c-401b-8a36-37384888a696')