# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

In [50]:
import json
def read_json(path: str):
    with open(path) as file:
        return json.load(file)

In [51]:
address_book = read_json('data/addres-book.json')
address_book

[{'name': 'Faina Lee',
  'email': 'faina@mail.ru',
  'birthday': '22.08.1994',
  'phones': [{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]},
 {'name': 'Robert Lee',
  'email': 'robert@mail.ru',
  'birthday': '22.08.1994',
  'phones': [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]}]

In [52]:
emails = [address.get('email') for address in address_book]
# emails = []
# for address in address_book:
#     emails.append(address.get('email'))
emails

['faina@mail.ru', 'robert@mail.ru']

In [53]:
birthdays = [birthday.get('birthday') for birthday in address_book]
birthdays

['22.08.1994', '22.08.1994']

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

In [54]:
phone_numbers = [ph.get('phones') for ph in address_book]
phone_numbers

[[{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}],
 [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]]

In [55]:
phones = []
for address in address_book:
    phones.extend([phone['phone'] for phone in address.get('phones')])

phones

['232-19-55', '+7 (916) 232-19-55', '111-19-55', '+7 (916) 445-19-55']

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

In [18]:
!pip3 install pandas

Collecting pandas
  Using cached pandas-1.3.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.17.3 in /home/alexey/.local/lib/python3.8/site-packages (from pandas) (1.21.2)
Installing collected packages: pandas
Successfully installed pandas-1.3.3

In [58]:
from bs4 import BeautifulSoup as bs
def read_xml(path: str):
    with open(path) as file:
        return bs(''.join(file.readlines()), "html.parser")

In [59]:
soup = read_xml('data/addres-book-q.xml')
soup

<?xml version="1.0" encoding="UTF-8" ?>
<address_book>
<country name="algeria">
<address id="1">
<gender>m</gender>
<name>Aicha Barki</name>
<email>aiqraa.asso@caramail.com</email>
<position>Presidente</position>
<company>Association Algerienne d'Alphabetisation Iqraa</company>
<phones>
<phone type="work">+ (213) 6150 4015</phone>
<phone type="personal">+ (213) 2173 5247</phone>
</phones>
</address>
</country>
<country name="angola">
<address id="2">
<gender>m</gender>
<name>Francisco Domingos</name>
<email>frandomingos@hotmail.com</email>
<position>Directeur General</position>
<company>Institut National de Education des Adultes</company>
<phones>
<phone type="work">+ (244-2) 325 023</phone>
<phone type="personal">+ (244-2) 325 023</phone>
</phones>
</address>
<address id="3">
<gender>f</gender>
<name>Maria Luisa</name>
<email>luisagrilo@ebonet.net</email>
<position>Directrice Nationale</position>
<company>Institut National de Education des Adultes</company>
<phones>
<phone type="personal">+ (244) 4232 2836</phone>
</phones>
</address>
<address id="4">
<gender>m</gender>
<name>Abraao Chanda</name>
<email>ineda@snet.co.ao</email>
<position>Chef</position>
<company>Institut National de Education des Adultes</company>
<phones>
<phone type="work">+ (244-2) 325 023</phone>
<phone type="personal">+ (244-2) 325 023</phone>
</phones>
</address>
</country>
<country name="argentina">
<address id="5">
<gender>m</gender>
<name>Beatriz Busaniche</name>
<email>busaniche@caminandoutopias.org.ar</email>
<position>Executive Director</position>
<company>Universidad de Buenos Aires</company>
<phones>
<phone type="work">+ (54-11) 4784 1159</phone>
</phones>
</address>
</country>
<country name="australia">
<address id="6">
<gender>f</gender>
<name>Francesca Beddie</name>
<email>f.beddie@ala.asn.au</email>
<position>Executive Director</position>
<company>Adult Learning Australia</company>
<phones>
<phone type="work">+ (61-2) 6274 9500</phone>
<phone type="personal">+ (61-2) 6274 9513</phone>
</phones>
</address>
<address id="7">
<gender>m</gender>
<name>Graham John Smith</name>
<email>grasm@connexus.net.au</email>
<position>Secretary</position>
<company>Disability Australia Ltd</company>
<phones>
<phone type="work">+ (61-3) 9807 4702</phone>
</phones>
</address>
</country>
</address_book>

In [7]:
phones_book = []
for addr in soup.find_all('address'):
    name = addr.find('name').string
    phones = [phone.string for phone in addr.find_all('phone')]
    phones_book.append({
        'name': name,
        'phones': phones
    })
phones_book

NameError: name 'soup' is not defined

## Лабораторная работа №4

### JSON

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [8]:
contributors = read_json('data/contributors_sample.json')
test = contributors[:7] 
test

[{'username': 'uhebert',
  'name': 'Lindsey Nguyen',
  'sex': 'F',
  'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
  'mail': 'jsalazar@gmail.com',
  'jobs': ['Energy engineer',
   'Engineer, site',
   'Environmental health practitioner',
   'Biomedical scientist',
   'Jewellery designer'],
  'id': 35193},
 {'username': 'vickitaylor',
  'name': 'Cheryl Lewis',
  'sex': 'F',
  'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
  'mail': 'bhudson@gmail.com',
  'jobs': ['Music therapist',
   'Volunteer coordinator',
   'Designer, interior/spatial'],
  'id': 91970},
 {'username': 'sheilaadams',
  'name': 'Julia Allen',
  'sex': 'F',
  'address': 'Unit 1632 Box 2971\nDPO AE 23297',
  'mail': 'darren44@yahoo.com',
  'jobs': ['Management consultant',
   'Engineer, structural',
   'Lecturer, higher education',
   'Theatre manager',
   'Designer, textile'],
  'id': 1848091},
 {'username': 'nicole82',
  'name': 'Gina Stevens',
  'sex': 'F',
  'address': '9880 Michelle Bridge\nNew Kimberlybury, WY 02583',
  'mail': 'stevensonsarah@hotmail.com',
  'jobs': ['Mechanical engineer', 'Retail banker', 'Barrister'],
  'id': 50969},
 {'username': 'jean67',
  'name': 'Nicholas Harrington',
  'sex': 'M',
  'address': '9080 Monica Crescent Suite 820\nNorth Deanbury, HI 28977',
  'mail': 'denise42@gmail.com',
  'jobs': ['Network engineer',
   'Youth worker',
   'Primary school teacher',
   'Engineer, broadcasting (operations)'],
  'id': 676820},
 {'username': 'james67',
  'name': 'Allison Gomez',
  'sex': 'F',
  'address': '635 Kenneth Ways Suite 172\nHancockfort, AZ 50544',
  'mail': 'monique02@hotmail.com',
  'jobs': ['Designer, ceramics/pottery',
   'Engineer, energy',
   'Engineer, manufacturing'],
  'id': 64918},
 {'username': 'woodmarissa',
  'name': 'Michael Jackson',
  'sex': 'M',
  'address': '4531 Phillips Underpass\nMartinezport, MA 82685',
  'mail': 'dustin32@hotmail.com',
  'jobs': ['Designer, furniture',
   'Designer, furniture',
   'Lecturer, higher education'],
  'id': 113941}]

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [134]:
mails = set()
for c in contributors:
    mail_dom = c['mail'].split('@')[1]
    mails.add(mail_dom)
mails

{'gmail.com', 'hotmail.com', 'yahoo.com'}

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [139]:
def find_info_by_username(username):
    flag = False
    for user in test:
        if username == user.get('username'):
            print("info:")
            print("name :", user.get('name'))
            #и т.д., вывести каждое поле
            flag = True
            break #по идее, логин - уникален
    if not flag:
        raise ValueError("Пользователь не найден!")
find_info_by_username('sheilaadams')

info:
name : Julia Allen

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [43]:
count_men, count_women = 0, 0
for u in test:
    if u.get('sex') == 'F':
        count_women += 1
    if u.get('sex') == 'M':
        count_men += 1
print("Kolvo men = ", count_men)
print("Kolvo women = ", count_women)

Kolvo men =  0
Kolvo women =  3

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [26]:
import pandas as pd

In [29]:
dataframe = pd.DataFrame(test, columns=['id', 'username', 'sex'])
dataframe

        id     username sex
0    35193      uhebert   F
1    91970  vickitaylor   F
2  1848091  sheilaadams   F

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [ ]:
#непонятно, что нужно

### pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [21]:
contributors_s = read_json('data/sampl_contrib_1.json')
contributors_s

[{'username': 'uhebert',
  'name': 'Lindsey Nguyen',
  'sex': 'F',
  'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
  'mail': 'jsalazar@gmail.com',
  'jobs': ['PROFF',
   'Energy engineer',
   'Engineer, site',
   'Environmental health practitioner',
   'Biomedical scientist',
   'Jewellery designer'],
  'id': 35193},
 {'username': 'nicole82',
  'name': 'Gina Stevens',
  'sex': 'F',
  'address': '9880 Michelle Bridge\nNew Kimberlybury, WY 02583',
  'mail': 'stevensonsarah@hotmail.com',
  'jobs': ['PROFF', 'Retail banker', 'Barrister'],
  'id': 50969},
 {'username': 'jean67',
  'name': 'Nicholas Harrington',
  'sex': 'M',
  'address': '9080 Monica Crescent Suite 820\nNorth Deanbury, HI 28977',
  'mail': 'denise42@gmail.com',
  'jobs': ['Network engineer',
   'Youth worker',
   'Primary school teacher',
   'Engineer, broadcasting (operations)'],
  'id': 676820},
 {'username': 'james67',
  'name': 'Allison Gomez',
  'sex': 'F',
  'address': '635 Kenneth Ways Suite 172\nHancockfort, AZ 50544',
  'mail': 'monique02@hotmail.com',
  'jobs': ['Designer, ceramics/pottery',
   'Engineer, energy',
   'Engineer, manufacturing'],
  'id': 64918},
 {'username': 'woodmarissa',
  'name': 'Michael Jackson',
  'sex': 'M',
  'address': '4531 Phillips Underpass\nMartinezport, MA 82685',
  'mail': 'dustin32@hotmail.com',
  'jobs': ['Designer, furniture',
   'Designer, furniture',
   'Lecturer, higher education'],
  'id': 113941}]

In [33]:
from collections import defaultdict
jobs = defaultdict(list)
for user in contributors_s:
    for job in user['jobs']:
        jobs[job].append(user['username'])
my_dict = dict(jobs)
my_dict

{'PROFF': ['uhebert', 'nicole82'],
 'Energy engineer': ['uhebert'],
 'Engineer, site': ['uhebert'],
 'Environmental health practitioner': ['uhebert'],
 'Biomedical scientist': ['uhebert'],
 'Jewellery designer': ['uhebert'],
 'Retail banker': ['nicole82'],
 'Barrister': ['nicole82'],
 'Network engineer': ['jean67'],
 'Youth worker': ['jean67'],
 'Primary school teacher': ['jean67'],
 'Engineer, broadcasting (operations)': ['jean67'],
 'Designer, ceramics/pottery': ['james67'],
 'Engineer, energy': ['james67'],
 'Engineer, manufacturing': ['james67'],
 'Designer, furniture': ['woodmarissa', 'woodmarissa'],
 'Lecturer, higher education': ['woodmarissa']}

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [37]:
import pickle
with open('dat1.pickle', 'wb') as f:
    pickle.dump(my_dict, f)

with open('data.json', 'w') as outfile:
    json.dump(my_dict, outfile, indent=4)

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [45]:
with open('dat1.pickle', 'rb') as f:
    dat1_l = pickle.load(f)

dat1_l

{'PROFF': ['uhebert', 'nicole82'],
 'Energy engineer': ['uhebert'],
 'Engineer, site': ['uhebert'],
 'Environmental health practitioner': ['uhebert'],
 'Biomedical scientist': ['uhebert'],
 'Jewellery designer': ['uhebert'],
 'Retail banker': ['nicole82'],
 'Barrister': ['nicole82'],
 'Network engineer': ['jean67'],
 'Youth worker': ['jean67'],
 'Primary school teacher': ['jean67'],
 'Engineer, broadcasting (operations)': ['jean67'],
 'Designer, ceramics/pottery': ['james67'],
 'Engineer, energy': ['james67'],
 'Engineer, manufacturing': ['james67'],
 'Designer, furniture': ['woodmarissa', 'woodmarissa'],
 'Lecturer, higher education': ['woodmarissa']}

In [48]:
import os
b = os.path.getsize("dat1.pickle")

524

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [71]:
steps_sample = read_xml('data/steps_sample_small.xml')
dict_steps = {}
for recipe in steps_sample.find_all('recipe'):
    my_id = recipe.find('id').string
    steps = [step.string for step in recipe.find_all('step')]
    dict_steps[my_id] = steps[:2]
#     dict_steps[my_id+'kolvo_steps'] = len(steps)
dict_steps

{'44123': ['in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes',
  'add thyme , oregano and basil'],
 '67664': ['mix all the ingredients using a blender',
  'pour into popsicle molds'],
 '38798': ['combine all ingredients in a large bowl and mix well',
  'shape into one-inch balls'],
 '35173': ['lay out sandwich rolls on jelly roll pans / cookie sheets',
  'melt butter , mix in italian dressing mix']}

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [148]:
#См. 2.1

<?xml version="1.0" encoding="utf-8"?>
<recipes>
<recipe>
<id>44123</id>
<steps>
<step has_minutes="1">in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes</step>
<step>add thyme , oregano and basil</step>
<step has_minutes="1">saute 5 minutes more</step>
<step>add wine and deglaze pan</step>
<step>add hot chicken stock and reduce by one-third</step>
<step>add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets</step>
<step has_minutes="1">simmer 5 minutes</step>
<step has_minutes="1">add cream , simmer 5 minutes more and season to taste</step>
<step>drop in remaining butter , piece by piece , stirring until melted and serve immediately</step>
<step>smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare</step>
<step>chef meskan uses applewood chips and does not allow the grill to become too hot</step>
</steps>
</recipe>
<recipe>
<id>67664</id>
<steps>
<step>mix all the ingredients using a blender</step>
<step>pour into popsicle molds</step>
<step>freeze and enjoy !</step>
</steps>
</recipe>
<recipe>
<id>38798</id>
<steps>
<step>combine all ingredients in a large bowl and mix well</step>
<step>shape into one-inch balls</step>
<step>cover and refrigerate or freeze until ready to bake</step>
<step has_degrees="1">preheat oven to 350 degrees</step>
<step>place on ungreased baking sheet and bake until light brown</step>
</steps>
</recipe>
<recipe>
<id>35173</id>
<steps>
<step>lay out sandwich rolls on jelly roll pans / cookie sheets</step>
<step>melt butter , mix in italian dressing mix</step>
<step>using a pastry or bbq brush , graciously apply seasoned butter to the top of the"bottom bun" and the top of the top bun</step>
<step>don't miss this step , i don't know why , but it does make a difference !</step>
<step>here is where i create an assembly line w / the bottoms of the buns</step>
<step>layer each bun w / ham , then swiss cheese , turkey , then cheddar cheese , pepperoni , then mozzerella cheese</step>
<step has_degrees="1" has_minutes="1">place"lids" on buns and place in 425 degree oven for approximly 12-15 minutes , or until you see the tops start to turn golden brown</step>
</steps>
</recipe>
</recipes>

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [82]:
arr = []
for recipe in steps_sample.find_all('recipe'):
    if recipe.steps.step.has_attr('has_minutes') or recipe.steps.step.has_attr('has_hours'):
        arr.append(recipe.id.string)
print(arr)

['44123']

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

In [92]:
import pandas as pd
steps_sample_1 = read_xml('data/steps_sample_small.xml')
recipes = pd.read_csv("data/recipes_sample.csv", sep=',',parse_dates=["submitted"])
nan_rows = recipes[recipes['n_steps'].isnull()]
# nan_rows
for recipe in steps_sample.find_all('recipe'):
    if int(recipe.id.string) in set(nan_rows['id']):
        steps = [step.string for step in recipe.find_all('step')]
        
        print(len(steps))
        
#         nan_rows[nan_rows['n_steps']] = len(steps)
nan_rows

11
3
5
7

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
5,mennonite corn fritters,44045,15,41706,2002-10-25,NaN,ok - my heritage has been revealed. :) these a...,NaN
...,...,...,...,...,...,...,...,...
29991,zucchini potato pancakes,180833,45,186118,2006-08-07,NaN,"this recipe was posted in our local newspaper,...",9.0
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`